---
layout: layouts/default
title: "Portfolio"
permalink: portfolio/index.html
---
<div class="portfolio my-16 px-6">
  <h1 class="text-4xl font-bold tracking-tight sm:text-6xl">
    My own Projects
  </h1>
  {% for project in projects %}
  <div class="mt-14">
    <div class="flex flex-col md:flex-row items-center gap-10">
      <div class="md:w-1/2 pr-10">
        <h3 class="text-2xl font-semibold leading-7 text-gray-900">{{ project.title }}</h3>
        <p class="mt-1 max-w-2xl text-base leading-6 text-gray-500">{{ project.description }}</p>
      </div>
      <img class="md:w-1/2 rounded-lg shadow-md" src="{{ project.image_preview }}" alt="Preview of {{ project.title }}">
    </div>
    <div class="mt-6 border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Client</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ project.client }}</dd>
        </div>
        <div class="py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Objective</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ project.objective }}</dd>
        </div>
        <div class="py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Status</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ project.status }}</dd>
        </div>
        <div class="py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Link Preview</dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
            <a href="{{ project.link }}" class="text-indigo-600 hover:text-indigo-500">{{ project.title }}</a>
          </dd>
        </div>
        <div class="py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-gray-900">Attachments</dt>
          <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
              {% for attachment in project.attachments %}
              <li class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6">
                <div class="flex w-0 flex-1 items-center">
                  <!-- Icon SVG here -->
                  <div class="ml-4 flex min-w-0 flex-1 gap-2">
                    <span class="truncate font-medium">{{ attachment }}</span>
                  </div>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <a href="{{ attachment }}" class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                </div>
              </li>
              {% endfor %}
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </div>
  {% endfor %}
</div>
